
/dataset/blouses/*.jpg
/dataset/dupattas/*.jpg
/dataset/jackets/*.jpg
/dataset/jeans/*.jpg
/dataset/jumpsuits/*.jpg
/dataset/kurti/*.jpg
/dataset/palazzos/*.jpg
/dataset/saree/*.jpg
/dataset/skirts/*.jpg
/dataset/sunglass/*.jpg
/dataset/sweaters/*.jpg
/dataset/trousers/*.jpg

**/*.jpg
*.jpg

models/cloth.model/
new_cloth.model/*
models/flower.model/*

*.zip
*.csv
*.ipynb
*.png